/* --------------- */
/* General styling */
/* --------------- */
.flexColumn {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* ----------------------- */
/* Landing Page styling */
/* ----------------------- */
.Landing {
  background-color: #ffd60a;
  height: 85vh;
  padding-top: 15vh;
  color: #001d3d;
}
.nameTitle {
  font-size: 70px;
  margin-bottom: 20px;
}
.landingCircleImg {
  height: 190px;
  width: auto;
  border-radius: 50%; 
}
@keyframes bouncing {
  0% {bottom: 0;}
  50% {bottom: 20px;}
  100% {bottom: 0;}
}
.arrow {
  animation: bouncing 1s infinite ease-in-out;
  bottom: 0;
  display: block;
  height: 90px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 90px;
}

/* ----------------------- */
/* About Me Page styling */
/* ----------------------- */
.AboutMe {
  background-color: #ffc300;
  height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
  color: #003566;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.aboutTitle {
  font-size: 60px;
  margin-top: 0px;
}
.nonAlign {
  align-items: baseline !important;
}
.highlightedText {
  color: #0077b6 !important;
}
.collage {
  width: 100%;
  height: auto;
}
.flexItemAbout1 {
  width: 40vw;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flexItemAbout2 {
  width: 40vw;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  align-items: center;
}
/* ------------------- */
/* Skills Page styling */
/* ------------------- */
.Skills {
  background-color: #3a86ff;
  height: 95vh;
  padding-top: 5vh;
  padding-left: 50px;
  padding-right: 30px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skillsTitle {
  font-size: 60px;
  margin-top: 0px;
}
.skillsHighlightedText {
  color: #ffd60a;
  font-weight: bold;
}
.flexItemSkills1 {
  width: 40vw;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  flex-direction: column;
}
.flexItemSkills2 {
  width: 40vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 50px;
  display: flex;
  align-items: baseline;
}
.skills2InnerDiv {
  width: 100%;
}

/* ------------------- */
/* Work Page styling */
/* ------------------- */
.Work {
  background-color: #273469;
  height: 95vh;
  padding-top: 5vh;
  color: #ffffff;
  display: flex;
  padding-left: 50px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
}
.flexItemWork1 {
  width: 100%;
}
.workTitle {
  font-size: 60px;
  margin-top: 0px;
}
/* --------------------- */
/* Let's connect styling */
/* --------------------- */
.LetsConnect {
  background-color: #0a9396;
  height: 80vh;
  padding-top: 20vh;
  color: #ffffff;
}
.flexColumnConnect {
  display: flex;
  height: 80vh;
  padding: 0px 30px;
  flex-direction: column;
  align-items: center;
}
.flexItemConnect2 {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.flexItemConnect3 {
  margin-top: 50px;
}
.resume {
  padding: 15px 70px;
  background-color: #001d3d;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}
.iconLinks {
  text-decoration: none;
}
/* ------------------- */
/* Media Query styling */
/* ------------------- */
@media (max-width: 900px) {

  /* landing styling */
  .Landing {
    background-color: #ffd60a;
    height: 85vh;
    padding-top: 15vh;
    padding-left: 2vw;
    padding-right: 2vw;
    color: #001d3d;
  }
  .nameTitle {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .landingText {
    font-size: 12px;
  }
  /* about me styling */
  .AboutMe {
    background-color: #ffc300;
    height: 80vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: #003566;
    display: flex;
    flex-direction: column;
  }
  .aboutTitle {
    font-size: 40px;
    margin-top: 0px;
  }
  .aboutText {
    font-size: 12px;
  }
  .flexItemAbout1 {
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
  .flexItemAbout2 {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
  }
  .collage {
    height: 200px;
    width: auto;
  }
  /* Skills Styling */
  .Skills {
    background-color: #3a86ff;
    height: auto;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: unset;
  }
  .flexItemSkills1 {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .flexItemSkills2 {
    width: 90%;
    display: flex;
    align-items: baseline;
    padding-top: 0px;
  }
  .skillsTitle {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .skillsDescription {
    margin-top: 0px;
    font-size: 12px;
  }
  /* Work Styling */
  .Work {
    background-color: #273469;
    height: auto;
    padding-top: 5vh;
    color: #ffffff;
    display: flex;
    padding-left: 50px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
  }
  .workTitle {
    font-size: 40px;
    margin-top: 0px;
  }
}