/* --------------- */
/* General styling */
/* --------------- */
* {
  color: #ffffff;
}
@font-face {
  font-family: 'Nunito';
  src: url(./Fonts/Nunito/Nunito-VariableFont_wght.ttf);
}
.container {
  width: 100%;
  height: auto;
  background-color: #212121;
}
.flexColumn {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: 0px auto;
}
.flexItem {
  width: 100%;
}
.headerNav {
  position: fixed;
  width: 100%;
  background: #20202380;
  z-index: 2;
  backdrop-filter: blur(10px);
  height: 56px;
  display: flex;
  justify-content: center;
}
.headerNavDiv {
  display: flex;
}
.headerNavInnerDiv {
  padding-top: 12px;
}
.headerNavName {
  color: #ffffff;
  display: inline-block;
  font-family: 'Nunito';
  margin: 0px;
}
.navP {
  margin: 8px 0px 0px 0px;
}
.navP:hover {
  border-bottom: 1px solid;
}
.headerNavDivP {
  padding-right: 15px;
}
#headerNavDiv1 {
  padding-right: 30px;
}
.headerLogo {
  transition: transform .2s ease-in-out;
}
.headerLogo:hover {
  transform: rotate(35deg);
}
.footerTxt {
  color: #8c8c8c;
  text-align: center;
}
.hamburgerMenu {
  display: none;
}
/* ----------------------- */
/* Landing Page styling */
/* ----------------------- */
.Landing {
  height: auto;
  max-width: 670px;
  padding: 100px 20px 0px 20px;
  margin: auto;
}
.flexItemSelfPic {
  display: flex;
  justify-content: space-around;
}
.landingCircleImg {
  height: 190px;
  width: auto;
  border-radius: 50%; 
}
.landingDesc {
  background-color: #404040;
  width: 92%;
  max-width: 100%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 40px 0px 15px 0px;
}
.esLogo {
  margin-left: 7px;
}
.landingFlexItem2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nameDescDiv1 {
  padding-right: 10px;
}
.toroLogo {
  margin-top: 18px;
}
.myPortfolioBtn {
  margin: 20px auto;
  background-color: #80ffbf;
  width: 150px;
  padding: 15px;
  border: 0px;
  border-radius: 10px;
  color: #212121;
  font-weight: bold;
  text-align: center;
}
.title {
  text-decoration: underline #ffffff;
}
.inlineTxt {
  display: inline;
  margin: 0px
}
.yearTitle {
  color: #80ffbf;
  margin-right: 30px !important;
  margin-bottom: 5px !important;
}
.flexTimeline {
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
}
.flexSocials {
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
}
.timelineDesc {
  padding-top: 2px;
}
.socialsLogo {
  margin-right: 30px;
}
.socialsDesc {
  color: #80ffbf;
}
.pDesc {
  line-height: 30px; 
}
.resumeLink {
  text-decoration: none;
}
/* ----------------- */
/* Work Page styling */
/* ----------------- */
.Work {
  height: auto;
  max-width: 670px;
  padding: 100px 20px 0px 20px;
  margin: auto;
}
.projectImage {
  width: 300px;
  height: auto;
  border-radius: 20px;
  display: block;
  margin: 0px auto;
}
.flexProjects {
  display: flex;
  flex-wrap: wrap;
}
.freelanceProject {
  padding: 0px auto;
  width: 320px;
}
.freelanceProject h3{
  margin-bottom: 2px;
  text-align: center;
}
.freelanceProject p{
  margin: 2px;
  text-align: center;
}
/* ----------------- */
/* Uses Page styling */
/* ----------------- */
.Uses {
  height: auto;
  max-width: 670px;
  padding: 100px 20px 0px 20px;
  margin: auto;
}
.coderImg {
  max-width: 100%;
  height: auto;
  margin: 0px auto;
  display: block;
}
.flexUses {
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
}
.usesLogo {
  margin-right: 30px;
}
.usesDesc {
  padding-top: 3px;
}
.bottomSpacing {
  min-height: 200px;
}
/* ------------------- */
/* Media Query styling */
/* ------------------- */
@media screen and (max-width: 655px) {
  .flexProject {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .freelanceProject {
    flex-grow: 1;
    width: 400px;
    margin-bottom: 20px;
  }
  .headerNav {
    justify-content: space-between;
  }
  .headerNavDivP {
    display: none;
  }
  .hamburgerMenu {
    display: block;
    padding-top: 12px;
    padding-right: 10px;
  }
  .menuLogo:active {
    border: 2px solid #80ffbf;
    border-radius: 5px;
    padding: 2px;
  }
  #headerNavDiv1 {
    padding-left: 10px;
  }
  .popupMenu {
    background-color: #2D3748;
    height: 200px;
    width: 100px;
    padding-left: 10px;
    font-size: 15px;
    position: absolute;
    top: 55px;
    right: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
  }
  .popupMenu p {
    color: #ffffff;
  }
  .popupMenu p:active {
    color: #80ffbf;
    text-decoration: underline;
    font-weight: bold;
  }
  .popupMenu p:hover {
    color: #80ffbf;
    text-decoration: underline;
    font-weight: bold;
  }
}